@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}   

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}    

@font-face {
    font-family: "robotoregular";
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

