<div class="col">
    <h1 class="banner_title">Тизерная реклама с <span class="banner_line">максимальной</span><br> конверсией</h1>
    <p class="banner_text">Teaser.Guru — это продвинутый сервис по созданию результативной тизерной рекламы на проверенных площадках.</p>
</div>
<div class="col col_parallax">
    <div class="banner_laptop">
        <!--<iframe src="" frameborder="0"></iframe>-->
    </div>
    <img class="banner_parallax" src="img/img-parallax-4.png" alt="parallax-1">
    <img class="banner_parallax" src="img/img-parallax-3.png" alt="parallax-2">
    <img class="banner_parallax" src="img/img-parallax-2.png" alt="parallax-3">
</div>
