<div class="col content_col">
    <a href="#" class="content_btn content_btn__pink bt_tr">
        <div class="content_block">
            <h2 class="content_title">Я-партнер</h2>
            <p class="content_subtitle">Хочу повысить доход от сайта</p>
        </div>
    </a>
</div>
<div class="col content_col">
    <a href="#" class="content_btn content_btn__purple bt_tr">
        <div class="content_block">    
        <h2 class="content_title">Я-рекламодатель</h2>
        <p class="content_subtitle">Хочу расширить целевую аудиторию</p>
        </div>
    </a>
</div>