<div class="header_logo">
    <svg width="210" height="35">
        <use xlink:href="img/svg/logo.svg#logo"/>
    </svg>
</div>
<nav class="header_nav">
    <ul class="header_menu">
        <li class="header_item">
            <a href="#" class="header_link">Главная</a>
        </li>
        <li class="header_item">
            <a href="#" class="header_link">Партнерам</a>
        </li>
        <li class="header_item">
            <a href="#" class="header_link">Рекламодателям</a>
        </li>
    </ul>
</nav>