
    <div class="burger-menu" id="burger">
            <div class="burger-top"></div>
            <div class="burger-middle"></div>
            <div class="burger-bottom"></div>
        </div>
    <nav class="mobile-nav">
        <li class="mobile-nav-header">
            <div class="mobile-logo">
                <!--<?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                         viewBox="0 0 35 35" xml:space="preserve">
                <g>
                    <path class="st0" style="fill:#7AB9FF;" d="M136.1,17.4c0,1.9-1.5,3.4-3.3,3.4c-1.9,0-3.4-1.5-3.4-3.3c0-1.9,1.5-3.4,3.3-3.4c0.9,0,3.4,0,3.4,0
                            S136.1,16.5,136.1,17.4z"/>
                    <path class="st1" style="fill:#2F3438;" d="M132.7,11.4L132.7,11.4h6c0.4,0,0.8-0.1,1.2-0.2c1.1-0.5,1.8-1.5,1.8-2.7V5.5h-8.9l0,0
                            c-7.4,0-13.2,6.7-11.7,14.3c0.2,0.7,0.8,3.6,3.1,5.9c2.5,2.5,5.3,3.2,6,3.4c5.6,1.2,10.8-1.7,13.1-6.2c0.2-0.5,0.6-1.7,0.8-2.9
                            c0.2-1,0.2-1.9,0.2-2.2l0,0c0-1.9-1.6-3.5-3.5-3.5h-2.1v3.1c0,3.3-2.7,6-6,6c-3.3,0-6.1-2.6-6.1-6
                            C126.6,14.2,129.3,11.4,132.7,11.4z"/>
                </g>
                </svg>-->
                <h3 class="mobile-menu-title">Меню</h3>            
            </div>
        </li>
        <li class="mobile-nav-header"><a>Главная</a></li>
        <li class="mobile-nav-header divider"><a>Рекламодатель</a></li>
        <li class="mobile-nav-header"><a>Партнер</a></li>
    </nav>